WcfServiceForcasting/Consumer/Service References/WeatherServiceClient/ForcastService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceForcasting.models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceForcasting.models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WeatherForecast">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="WindDegree" type="xs:double" />
      <xs:element minOccurs="0" name="WindSpeed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherForecast" nillable="true" type="tns:WeatherForecast" />
</xs:schema>